.header{
    background-color: rgb(0, 0, 0);
    padding: 15px 0;

}
.header-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-link:not(:first-child){
    margin-left: 40px;
}
.header-link{
    color: #ffffff;
    font-weight: 500;
    transition: .6s;
}
.header-link:hover{
    color: #d81111;
}
.header-link.active{
    color: #d81111;
}
.logo{
    margin-left: -24px;
}
